@model Journalist

<div class="container ">
    <h3 class="col2">@Model.Username</h3>

</div>

<div class="container">

    <a type="button" class="btn btn-primary" asp-controller="JournalistDashboard" asp-action="JournalistNews">مشاهده اخبار بارگزاری شده</a>
    <a type="button" class="btn btn-success" asp-controller="JournalistDashboard" asp-action="AddNews">بارگزاری اخبار</a>

</div>




