@model List<Category>


<div class="container">

    @foreach (var category in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@category.Title</h5>
                <p class="card-text">اخبار مربوطه</p>
                <a class="card-link" asp-controller="News" asp-action="VeiwNewsByCategory" asp-route-Id="@category.Id">مشاهده</a>
            </div>
        </div>

    }

</div>