
<a class="btn btn-primary" asp-controller="Admin" asp-action="GetListOfUnacceptedNews">اخبار در صف</a>

<a class="btn btn-primary" asp-controller="Admin" asp-action="GetListOfUnacceptedCommentNews">کامنت ها در صف</a>

<a class="btn btn-primary" asp-controller="Admin" asp-action="CategoriesManagement">مدیریت دسته بندی ها</a>

