@model Category

<form asp-controller="Admin" asp-action="UpdateCategory" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" placeholder="">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div hidden class="form-group">
        <label asp-for="Id"></label>
        <input readonly asp-for="Id" type="text" class="form-control" placeholder="">
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">به روزرسانی</button>
</form>
